{% extends 'base.html' %}
{% block title %}
Add AgroProducts
{% endblock title %}



{% block content %}
 <h3 class="text-center"><span>Add Agro Products</span> </h3>
  


<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  
<br>
<div class="container">

<div class="row">

<div class="col-md-4"></div>
<div class="col-md-4">

<form action="{% url 'addagroproducts' %}" method="post">
{% csrf_token %}
{% for field in AgroProductForm %}
<div class="form-group">
<label for="username">{{field.label}}</label>
<span type="text" class="form-control" name="username" value="{{current_user.username}}" id="{{current_user.username}}" required>{{field}}</span>
</div>
<br>
{% endfor %}
  
  <button type="submit" class="btn btn-success  btn-block">Add Product</button>
</form>
<br>
<br>

</div>

<div class="col-md-4"></div>

</div></div>



{% endblock %}