{% extends 'base.html' %}

{% block title %}
Farmer Details
{% endblock title %}

{% block content %}
  <h3 class="text-center"><span>Farmer Details</span> </h3>

  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}
  </div>

  <br>

  <div class="container mt-3">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">RID</th>
          <th scope="col">FARMER NAME</th>
          <th scope="col">ADHAR NUMBER</th>
          <th scope="col">AGE</th>
          <th scope="col">GENDER</th>
          <th scope="col">PHONE NUMBER</th>
          <th scope="col">ADDRESS</th>
          <th scope="col">FARMING</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
          <th scope="col">ADD AGRO PRODUCT</th>
        </tr>
      </thead>
      <tbody>
        {% for farmer in farmer_list %}  {# Change this line in your template #}
        <tr>
          <th scope="row">{{farmer.id}}</th>
          <td>{{farmer.farmer_name}}</td>
          <td>{{farmer.adhaarnumber}}</td>
          <td>{{farmer.age}}</td>
          <td>{{farmer.gender}}</td>
          <td>{{farmer.phonenumber}}</td>
          <td>{{farmer.address}}</td>
          <td>{{ farmer.farming_type.farming_type }}</td>
          <td>
            <a href="{% url 'edit' %}"><button class="btn btn-success">Edit </button> </a>
          </td>
          <td>
            <a href="{% url 'delete'  %}"><button onclick="return confirm('Are you sure to Delete data');" class="btn btn-success">Delete </button> </a>
          </td>
          <td>
            <a href="{% url 'addagroproducts' %}"><button class="btn btn-success">ADD </button> </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}